
<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @wishlist %>" class="d-flex gap-3 py-3">
  <div class="d-flex flex-column gap-2 w-100">
    <h1><%= @wishlist.name %></h1>
    <div class="wish-link">
    <%= link_to @wishlist.description, @wishlist.description, target: "_blank" %>
    </div>

    <small class="opacity-50 text-nowrap">Last updated <%= time_ago_in_words @wishlist.updated_at %></small>
    <%= image_tag(@wishlist.picture_url, width: 300, height: 300, class: "img-thumbnail flex-shrink-0") if @wishlist.picture? %>
  </div>
 <%# <%= image_tag(@wishlist.picture_url, width: 150, height: 150, class: "img-thumbnail flex-shrink-0") if @wishlist.picture? %> 
</div>

<div class="d-flex gap-3 py-3">
  <%= link_to "Edit Wish", edit_wishlist_path(@wishlist), class: "btn btn-primary" %>
  <%= link_to "Back to Wishes", wishlists_path, class: "btn btn-outline-secondary" %>
  <%= button_to "Delete Wish", @wishlist, method: :delete, class: "btn btn-danger", form: { data: { turbo_confirm: "Are you sure?" } } %>
</div>